{%extends 'plan/layout.html'%}
{% load static%}


{%block body%}
<div class="container profile-container">
    <div class="row profile">
		<div class="col-md-auto">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-fluid" alt="">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{profile.username}}
					</div>
					<div class="profile-usertitle-job">
						{{profile.jobs}}
					</div>
				</div>
				{%if profile.username != user.username%}
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm" id="invite_btn">Invite</button>
					<button type="button" class="btn btn-danger btn-sm" id="message_btn">Message</button>
				</div>
				{%endif%}
				<div class="profile-usermenu">
					<ul class="fa-ul">
						<li>
							<a href="#" id="overview_link">
							<i class="fa fa-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#" id="experience_link">
							<i class="fas fa-user-graduate"></i>
							Experience </a>
						</li>
						<li>
							<a href="#" id="projects_link">
							<i class="fas fa-project-diagram"></i>
							Projects </a>
						</li>
						<li>
							<a href="#" id="edit_link">
							<i class="fas fa-cog"></i>
							Edit </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-auto">
            <div class="profile-content">
			<span><h3 class="header">Overview:</h3></span>
			<p class="profile-info">
			   {%if profile.about%}
					{{profile.about}}
			   {%else%}
					No info yet.
			   {%endif%}
			</p>   
            </div>
		</div>
	</div>
</div>
{%endblock%}

{%block script%}
	<script src="{%static 'plan/profile.js'%}"></script>
{%endblock%}